enviroment  
.env 
oviedo_interino copy.txt
oviedo_interino.txt

pruebas.py
mongo
ratios_porcentaje.txt



commands.py
server.py
activar_env.py

prompts

modules\tests\notebook
modules\tests\pdfs
modules\tests\html
modules\tests\errors
modules\tests\errors
modules\tests\backup