enviroment  
.env 
oviedo_interino copy.txt
oviedo_interino.txt
tests/backup
tests/html
tests/erros
pruebas.py
mongo
ratios_porcentaje.txt
test/backup/*


commands.py
server.py
activar_env.py
modules/pdfs/**
modules/html/**
modules/json/**
prompts